.collapse__chevron {
    transition: transform 0.5s ;
}

.rotated {
    transform: rotate(-180deg);
}

.collapse-container__description,
.collapse-container__equipment,
.collapse-container__presentation {
    transition: height 0.3s ease-out;
}