/***BREAKPOINT RESPONSIVE***/
$breakpoint-desktop: 1024px;


/***DIMENSIONS VALUES**/
$main-margin: 7%;

$main-width: 86%;
$second-width:100%;
$third-width: 90%;
$fourth-width:92%;

/***DIVERSES VALUES***/
$height-auto: auto;
$zero-value: 0;
$minimal-px: 5px;
/**********************************/

$main-position: relative;
$second-position: absolute;

$center-value: center;

@mixin display-flex-and-column {
    display:flex;
    flex-direction:column;
}

/***MARGIN DIMENSIONS***/
.main,
.navigation,
.header-banner,
.card-container {
    margin-left:$main-margin;
    margin-right:$main-margin;
}

/***WIDTH DIMENSIONS***/
.main,
.navigation,
.header-banner {
    width:$main-width;
}

#slideshow,
.banner-img,
.special-collapse-logement,
.card {
    width: $second-width;
}

.collapse-container__presentation,
.collapse-container__description,
.collapse-container__equipment {
    @media (max-width: $breakpoint-desktop) {
        width:$third-width;
    }
}

.collapse-container__description,
.collapse-container__equipment {
    width:$fourth-width;
}

/****************************/

body {
    margin: $zero-value;
    }

.about-page {
    height:100%;
}

.navigation {  
    &__logo-and-nav {
        padding-top:42px;
        @media (max-width: $breakpoint-desktop) {
            padding-top:15px;
        }
    }
    &__nav a {
        top:20px;
    }
    
    &__nav-spacing {
        padding-left:70px;
        @media (max-width: $breakpoint-desktop) {
            padding-left: 2em;
        }
    } 
}

.kasa-logo {
    max-width:60%;
    height:50px; 
    @media (max-width: $breakpoint-desktop) {
        padding-top: $minimal-px;
        max-width:43%;
        height:$height-auto;
    }
}

.header-banner {
    margin-top:50px;
    margin-bottom:30px;
    height: 222px;
    border-radius:25px;
    @media (max-width: $breakpoint-desktop) {
        width:88%;
        margin-left:6%;
        margin-right:6%;
        margin-top:30px;
        /*margin-bottom: $zero-value;*/
        height:110px;
        border-radius:12px;
    }
    &__img {
        width: auto;
        margin: $zero-value -15%;
    }
    &__title {
        @media (max-width: $breakpoint-desktop) {
            left: 10%;
            width:60%;
        }
    }
}

.card-container {
    margin-top: 50px;
    margin-bottom:50px;
    padding:55px;
    border-radius:25px;
    column-gap: 5%;
    row-gap: 50px;
    @media (max-width: $breakpoint-desktop) {
        margin-top:$zero-value;
        padding-top: 30px;
        padding-left:$zero-value;
        padding-bottom:$zero-value;
        padding-right:$zero-value;
        row-gap: 20px;
        margin-bottom:30px;
    }
}

.card-container a {
    height:340px;
    border-radius:10px;
    @media (max-width: $breakpoint-desktop) {
        height:260px;
    }
}

.card {
    height: 340px;
    border-radius:10px;
    &::before {
        content: "";
        top: $zero-value;
        right: $zero-value;
        bottom: $zero-value;
        left: $zero-value;
        border-radius:10px;
    }
    @media (max-width: $breakpoint-desktop) {
        height:260px;
    }
    &__h2 {
        width:50%;
        padding-left:20px;
    }
}

#slideshow {
    height:415px;
    margin-top:70px;
	min-height: 470px;
    @media (max-width: $breakpoint-desktop) {
        height:260px;
        min-height:$zero-value;
        margin-top:40px;
    }
}

.arrow-left {
    left:2%;
}

.arrow-right {
    right:2%;
}

.banner-img {
    height: 100%;
    border-radius: 25px;
    @media (max-width: $breakpoint-desktop) {
        height:260px;
        border-radius:9px;
    }

}

.img-numbers {
    bottom:30px;
}

.title-and-location {
    &__h1 {
        margin-bottom:$zero-value;
        @media (max-width: $breakpoint-desktop) {
            margin-top:$minimal-px;
        }
    }
    &__location {
        margin-top:$zero-value;
        @media (max-width: $breakpoint-desktop) {
            margin-top:$minimal-px;
        }
    }
}

.profile-and-stars-container {
    margin-top:40px;
    margin-bottom:40px;
    @media (max-width: $breakpoint-desktop) {
        margin-top:$zero-value;
    }
}

.profile {
    @media (max-width: $breakpoint-desktop) {
        width:130px;
        margin-top:10px;
    }
    &__img {
        border-radius:50px;
        margin-left:10px;
        width:65px;
        @media (max-width: $breakpoint-desktop) {
            width:40px;
        }
    }
}

.rating {
    margin-top:20px;
    width:200px;
}

.fa-star {
    padding-left:10px;
    @media (max-width: $breakpoint-desktop) {
        padding-right: 6px;
        padding-left:$zero-value;
    }
}

.logement-tag {
    margin-right:10px;
    padding-left:20px;
    padding-right:20px;
    padding-top:3px;
    height:24px;
    border-radius:10px;
    margin-bottom:24px;
    @media (max-width: $breakpoint-desktop) {
        height:15px;
        padding-bottom:3px;
        margin-bottom: $zero-value;
        border-radius:$minimal-px;
    }
}

.collapse-container {
    width:500px;
    margin-left:1%;
    margin-right: $main-margin;
    margin-bottom:30px;
    @media (max-width: $breakpoint-desktop) {
        margin-bottom:20px;
        margin-top:$zero-value;
    }
    &__presentation {
        width:100%;
        max-width: 1230px;
        border-radius: $minimal-px;
        height:$zero-value;
        @media (max-width: $breakpoint-desktop) {
            width:85%;
            padding-left:15px;
            padding-right:15px;
        }
    }
    &__text {
        padding-left:18px;
        padding-right:10px;
    }
}


.collapse-logement {
    margin-bottom:20px;
}

.collapse-label .collapse-container__presentation {
    width:90%;
    /*width:$fourth-width;
    border-radius: $minimal-px;
    height:80px;
    margin-right:6%;
    @media (max-width: $breakpoint-desktop) {
        margin-right: $zero-value;
    }*/
}

.collapse-container__dimensions {
    width:100%;
}

.equipment {
    margin-top:5px;
    margin-bottom:5px;
}

.special-collapse-logement {
    @media (max-width: $breakpoint-desktop) {
        margin-bottom:20px;
    }
}

.collapse-size-logement {
    width:91%;
    border-radius:10px;
    @media (max-width: $breakpoint-desktop) {
        border-radius:$minimal-px;
    }
}

.collapse-equipment {
    margin-left:40px;
    margin-right:$zero-value;
    @media (max-width: $breakpoint-desktop) {
        margin-left:$zero-value;
    }
}

.collapse-description {
    margin-right:40px;
    @media (max-width: $breakpoint-desktop) {
        margin-right:$zero-value;
    }
}

.collapse-security-margin-bottom {
    @media (max-width: $breakpoint-desktop) {
        margin-bottom:20px;
    }
}

.collapse {
    max-width:1230px;
    height:50px;
    padding-left:15px;
    border-radius:$minimal-px;
    @media (max-width: $breakpoint-desktop) {
        width:95%;
        height:30px;
    }

    &__chevron {
        right:20px;
        top:12px;
        @media (max-width: $breakpoint-desktop) {
            top:4px;
            right:8px;
            
        }
    }
}

.collapse-container-about {
    width:800px;
}

.collapse-container-logement-description {
    /*margin-right:32%;*/
    @media (max-width: $breakpoint-desktop) {
        margin-left: 0;
    }
}

.collapse-container-logement-equipment {
    /*margin-right:2.5%;*/
    @media (max-width: $breakpoint-desktop) {
        margin-right: 0;
    }
}

.collapse-about {
    width:88%;

}

.collapse-label {
    width:100%;
    @media (max-width: $breakpoint-desktop) {
        width:100%;
    }
}

.collapse-description-padding {
    margin-right:5%;
}

.collapse-container-security {
    margin-bottom:20px;
}

.collapse-container__description {
    right:20px;
    top:-5px;
    border-radius:$minimal-px;
    height:$zero-value;
    @media (max-width: $breakpoint-desktop) {
        right:0;
        padding-left:10px;
        padding-right:10px;
    }
}


.collapse-container__equipment {
    left:20px;
    border-radius: $minimal-px;
    height:$zero-value;
    @media (max-width: $breakpoint-desktop) {
        left:0;
        padding-left:10px;
        padding-right:10px;
    }
}

.body-error {
    &__404 {
    margin-bottom:50px;
    }
    &__text {
    @media (max-width: $breakpoint-desktop) {
        width:58%;
        }
    }
    &__link {
        margin-top:100px;
        margin-bottom: 140px;
    }
}

.footer {
    padding-top:65px;
    padding-bottom:$minimal-px;
    @media (max-width: $breakpoint-desktop) {
        padding-bottom: 30px;
    }
    &__copyright {
        @media (max-width: $breakpoint-desktop) {
            width:35%;
            padding-bottom:20px;
        }
    }
  }