/***BREAKPOINT RESPONSIVE***/
$breakpoint-desktop: 1024px;

/***COLORS CONFIGURATION***/
$main-color: #FF6060;
$second-color:white;
$third-color: #F6F6F6;

$center-value:center;
@mixin display-flex-and-column {
    display:flex;
    flex-direction:column;
}

/********************************/

.body-error {
    @include display-flex-and-column;
    align-items:$center-value;
    @media (max-width: $breakpoint-desktop) {
        text-align:$center-value;
    }
    &__404 {
    font-size:350px;
    margin-bottom:50px;
    @media (max-width: $breakpoint-desktop) {
        font-size:8em;
    }
    }
    &__text {
    font-size:40px;
    @media (max-width: $breakpoint-desktop) {
        font-size:20px;
        width:58%;
    }
    }
    &__link {
        font-size:20px;
        margin-top:100px;
        margin-bottom: 140px;
        @media (max-width: $breakpoint-desktop) {
            font-size:17px;
        }
    }
}