/***BREAKPOINT RESPONSIVE***/
$breakpoint-desktop: 1024px;

/***COLORS CONFIGURATION***/
$main-color: #FF6060;
$second-color:white;
$third-color: #F6F6F6;

#slideshow {
    width:90%;
    height:415px;
    margin-left:5%;
    margin-right:5%;
    background-color: red;
    border-radius: 25px;
    margin-top:70px;
}

.logement-page-presentation {
    &__h1 {
        color: $main-color;
        font-weight:400;
        font-size:3em;
    }
}