/***BREAKPOINT RESPONSIVE***/
$breakpoint-desktop: 1024px;

/***COLORS CONFIGURATION***/
$main-color: #FF6060;
$second-color:white;
$third-color: #F6F6F6;

.main {
    margin-left:7%;
    margin-right:7%;
    width:86%;
}

#slideshow {
    height:415px;
    margin-top:70px;
    display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 470px;
	position: relative;
    @media (max-width: $breakpoint-desktop) {
        height:260px;
        min-height:0;
        margin-top:40px;
    }
}

.slideshow-arrow {
    background-color:transparent;
    color: $second-color;
    border:none;
    font-size:90px;
    position:absolute;
    @media (max-width: $breakpoint-desktop) {
        font-size: 23px;
    }
}

.arrow-left {
    left:2%;
    cursor:pointer;
}

.arrow-right {
    right:2%;
    cursor: pointer;
}

.banner__all-img {
    object-fit:cover;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    @media (max-width: $breakpoint-desktop) {
        height:260px;
        border-radius:9px;
    }

}

.logement-page-presentation {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    @media (max-width: $breakpoint-desktop) {
        flex-direction: column;
    }
}

.title-and-location {
    display:flex;
    flex-direction:column;
    &__h1 {
        color: $main-color;
        font-weight:400;
        font-size:3em;
        margin-bottom:0;
        @media (max-width: $breakpoint-desktop) {
            font-size:1.5em;
            margin-top:5px;
        }
    }
    &__location {
        margin-top:0;
        color: $main-color;
        font-size:1.2em;
        @media (max-width: $breakpoint-desktop) {
            font-size: 1em;
            margin-top:5px;
        }
    }
}

.profile-and-stars-container {
    display:flex;
    flex-direction:column;
    margin-top:40px;
    @media (max-width: $breakpoint-desktop) {
        display:flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        margin-top:0;
    }
}

.profile {
    display:flex;
    flex-direction:row;
    align-items:center;
    color: $main-color;
    font-size:1.2em;
    @media (max-width: $breakpoint-desktop) {
        font-size: 1em;
        margin-top:10px;
    }
    &__img {
        border-radius:50px;
        margin-left:10px;
        width:65px;
        @media (max-width: $breakpoint-desktop) {
            width:40px;
        }
    }
}

.rating {
    margin-top:20px;
    font-size:25px;
    color: #E3E3E3;
    width:200px;
    @media (max-width: $breakpoint-desktop) {
        font-size: 23px;
        display:flex;
        flex-direction: row;
        font-size: 13px;
    }
}

.fa-star {
    padding-left:10px;
    @media (max-width: $breakpoint-desktop) {
        padding-right: 6px;
        padding-left:0;
    }
}

.logement-tags-container {
    display:flex;
    flex-direction:row;
}

.logement-tag {
    color:$second-color;
    background-color: #FF6060;
    padding-left:20px;
    padding-right:20px;
    padding-top:3px;
    height:24px;
    border-radius:10px;
    margin-bottom:24px;
    @media (max-width: $breakpoint-desktop) {
        font-size: 0.7em;
        height:15px;
        padding-bottom:3px;
        margin-bottom: 0;
        border-radius:5px;
    }
}

.margin-tag {
    margin-right:10px;
}

.collapse-logement {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    margin-bottom:20px;
    @media (max-width: $breakpoint-desktop) {
        flex-direction:column;
        margin-top:15px;
    }
}

.collapse-container__presentation-logement {
    width:92%;
    background-color: $third-color;
    color: $main-color;
    border-radius: 5px;
    font-size:20px;
    height:80px;
    overflow:hidden;
    margin-right:6%;
    @media (max-width: $breakpoint-desktop) {
        margin-right: 0;
    }
}

.special-collapse-logement {
    width:100%;
    @media (max-width: $breakpoint-desktop) {
        margin-bottom:20px;
    }
}

.collapse-size-logement {
    width:91%;
    border-radius:10px;
    @media (max-width: $breakpoint-desktop) {
        border-radius:5px;
        font-size:1em;
    }
}

.collapse-equipment {
    margin-left:40px;
    margin-right:0;
    @media (max-width: $breakpoint-desktop) {
        margin-left:0;
    }
}

.collapse-description {
    margin-right:40px;
    @media (max-width: $breakpoint-desktop) {
        margin-right:0;
    }
}