/***BREAKPOINT RESPONSIVE***/
$breakpoint-desktop: 1024px;

/***COLORS CONFIGURATION***/
$main-color: #FF6060;
$second-color:white;
$third-color: #F6F6F6;

$standard-font-size: 1em;
$main-font-size: 1.2em;

/***DIMENSIONS & SPACING**/
$main-width: 86%;
$main-margin: 7%;
$second-width:100%;
$third-width:90%;
$fourth-width:92%;

$height-auto: auto;
$zero-value: 0;
$minimal-px:5px;

/***MERGING***/
$main-position: relative;
$second-position: absolute;

$main-object-fit: cover;
$main-modified-overflow:hidden;
$center-value:center;

@mixin display-row-configuration {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

@mixin display-flex-and-row {
    display:flex;
    flex-direction:row;
}

@mixin display-flex-and-column {
    display:flex;
    flex-direction:column;
}

/******************************/

.main {
    margin-left:$main-margin;
    margin-right:$main-margin;
    width:$main-width;
}

#slideshow {
    height:415px;
    margin-top:70px;
    @include display-flex-and-row;
	align-items: $center-value;
	justify-content: $center-value;
	width: $second-width;
	min-height: 470px;
	position: $main-position;
    @media (max-width: $breakpoint-desktop) {
        height:260px;
        min-height:$zero-value;
        margin-top:40px;
    }
}

.slideshow-arrow {
    background-color:transparent;
    border:none;
    font-size:90px;
    position:$second-position;
    @media (max-width: $breakpoint-desktop) {
        font-size: 23px;
    }
}

.arrow-left {
    left:2%;
    cursor:pointer;
}

.arrow-right {
    right:2%;
    cursor: pointer;
}

.banner__all-img {
    object-fit:$main-object-fit;
}

.banner-img {
    width: $second-width;
    height: 100%;
    object-fit: $main-object-fit;
    object-position: $center-value;
    border-radius: 25px;
    @media (max-width: $breakpoint-desktop) {
        height:260px;
        border-radius:9px;
    }

}

.img-numbers {
    position:$second-position;
    bottom:30px;
    font-size:$main-font-size;
}

.logement-page-presentation {
    @include display-row-configuration;
    @media (max-width: $breakpoint-desktop) {
        @include display-flex-and-column;
    }
}

.title-and-location {
    @include display-flex-and-column;
    &__h1 {
        font-weight:400;
        font-size:3em;
        margin-bottom:$zero-value;
        @media (max-width: $breakpoint-desktop) {
            font-size:1.5em;
            margin-top:$minimal-px;
        }
    }
    &__location {
        margin-top:$zero-value;
        font-size:$main-font-size;
        @media (max-width: $breakpoint-desktop) {
            font-size: $standard-font-size;
            margin-top:$minimal-px;
        }
    }
}

.profile-and-stars-container {
    @include display-flex-and-column;
    margin-top:40px;
    @media (max-width: $breakpoint-desktop) {
        display:flex;
        flex-direction:row-reverse;
        justify-content: space-between;
        margin-top:$zero-value;
    }
}

.profile {
    @include display-flex-and-row;
    align-items:$center-value;
    font-size:$main-font-size;
    @media (max-width: $breakpoint-desktop) {
        font-size: $standard-font-size;
        margin-top:10px;
    }
    &__img {
        border-radius:50px;
        margin-left:10px;
        width:65px;
        @media (max-width: $breakpoint-desktop) {
            width:40px;
        }
    }
}

.rating {
    margin-top:20px;
    font-size:25px;
    color: #E3E3E3;
    width:200px;
    @media (max-width: $breakpoint-desktop) {
        font-size: 23px;
        @include display-flex-and-row;
        font-size: 13px;
    }
}

.fa-star {
    padding-left:10px;
    @media (max-width: $breakpoint-desktop) {
        padding-right: 6px;
        padding-left:$zero-value;
    }
}

.logement-tags-container {
    @include display-flex-and-row;
}

.logement-tag {
    background-color: #FF6060;
    margin-right:10px;
    padding-left:20px;
    padding-right:20px;
    padding-top:3px;
    height:24px;
    border-radius:10px;
    margin-bottom:24px;
    @media (max-width: $breakpoint-desktop) {
        font-size: 0.7em;
        height:15px;
        padding-bottom:3px;
        margin-bottom: $zero-value;
        border-radius:$minimal-px;
    }
}

.collapse-logement {
    @include display-row-configuration;
    margin-bottom:20px;
    @media (max-width: $breakpoint-desktop) {
        @include display-flex-and-column;
        margin-top:15px;
    }
}

.collapse-container__presentation-logement {
    width:92%;
    border-radius: $minimal-px;
    font-size:20px;
    height:80px;
    overflow:$main-modified-overflow;
    margin-right:6%;
    @media (max-width: $breakpoint-desktop) {
        margin-right: $zero-value;
    }
}

.special-collapse-logement {
    width:$second-width;
    @media (max-width: $breakpoint-desktop) {
        margin-bottom:20px;
    }
}

.collapse-size-logement {
    width:91%;
    border-radius:10px;
    @media (max-width: $breakpoint-desktop) {
        border-radius:$minimal-px;
        font-size:$standard-font-size;
    }
}

.collapse-equipment {
    margin-left:40px;
    margin-right:$zero-value;
    @media (max-width: $breakpoint-desktop) {
        margin-left:$zero-value;
    }
}

.collapse-description {
    margin-right:40px;
    z-index:2;
    @media (max-width: $breakpoint-desktop) {
        margin-right:$zero-value;
    }
}

.collapse-container__description {
    position:$main-position;
    right:20px;
    top:-5px;
    z-index:1;
    width:$fourth-width;
    border-radius:$minimal-px;
    font-size:20px;
    height:$zero-value;
    overflow:$main-modified-overflow;
    transition: height 0.3s ease-out;
    @media (max-width: $breakpoint-desktop) {
        width:$third-width;
    }
}

.collapse-container__equipment {
    position:$main-position;
    left:20px;
    width:$fourth-width;
    border-radius: $minimal-px;
    font-size:20px;
    height:$zero-value;
    overflow:$main-modified-overflow;
    transition: height 0.3s ease-out;
    @media (max-width: $breakpoint-desktop) {
        width:$third-width;
    }
}