/***BREAKPOINT RESPONSIVE***/
$breakpoint-desktop: 1024px;

/***COLORS CONFIGURATION***/
$main-color: #FF6060;
$second-color:white;
$third-color: #F6F6F6;

/***GENERAL***/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
 
    code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    }

    a {
        text-decoration: none;
    }

    .navigation { 
    margin-left:7%;
    margin-right:7%;
    width:86%; 

    &__logo-and-nav {
        padding-top:42px;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        @media (max-width: $breakpoint-desktop) {
            padding-top:15px;
        }
    }

    &__nav a {
        color: $main-color;
        font-size:25px;
        position:relative;
        top:20px;
        text-decoration: none;

        &__nav a:hover {
        text-decoration: underline;
        }

        @media (max-width: $breakpoint-desktop) {
            font-size:13px;
        }
    }

    &__nav-spacing {
        padding-left:70px;
        @media (max-width: $breakpoint-desktop) {
            padding-left: 2em;
        }
    } 

}

.kasa-logo {
    max-width:60%;
    height:50px; 
    @media (max-width: $breakpoint-desktop) {
        padding-top: 5px;
        width:33%;
        height:auto;
    }
} 

.navigation__nav a:hover {
    text-decoration: underline;
}

.header-banner {
    margin-top:50px;
    margin-bottom:30px;
    width: 100%;
    height: 222px;
    border-radius:25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $breakpoint-desktop) {
        width:90%;
        margin-left:5%;
        margin-right:5%;
        margin-top:30px;
        margin-bottom: 0;
        height: 110px;
        border-radius:12px;
    }

    &__img {
        width: auto;
        margin: 0 -15%;
        filter:brightness(0.7);
    }

    &__title {
        position:absolute;
        color: $second-color;
        font-weight:500;
        font-size: 55px;

        @media (max-width: $breakpoint-desktop) {
            font-size: 28px;
            left: 10%;
            width:60%;
        }

    }

}

/*************MainCards*************/

.card-container {
    margin-top: 50px;
    display:grid;
    grid-template-rows:repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    margin-left:7%;
    margin-right:7%;
    margin-bottom:50px;
    padding:55px;
    background-color: $third-color;
    border-radius:25px;
    column-gap: 5%;
    row-gap: 50px;
    @media (max-width: $breakpoint-desktop) {
        display:flex;
        flex-direction:column;
        margin-top:0;
        background-color: $second-color;
        padding-top: 30px;
        padding-left:0;
        padding-bottom:0;
        padding-right:0;
        height:1750px;
        row-gap:1%;
        margin-bottom:30px;
    }
}

.card-container a {
    height:340px;
}

.card {
    width: 100%;
    height: 340px;
    border-radius:10px;
    background: linear-gradient($main-color, rgb(77, 76, 76) 150%);
    display:flex;
    align-items:flex-end;
    @media (max-width: $breakpoint-desktop) {
        height:300px;
    }
    &__h2 {
        color:$second-color;
        font-weight:400;
        font-size:22px;
        width:50%;
        padding-left:20px;
    }
}

.footer {
    background-color: black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding-top:65px;
    padding-bottom:5px;
    @media (max-width: $breakpoint-desktop) {
        padding-bottom: 20px;
    }
    &__copyright {
        color: $second-color;
        font-weight:400;
        font-size:27px;
        @media (max-width: $breakpoint-desktop) {
            font-size:14px;
            width:35%;
            padding-bottom:20px;
        }
    }
}
