/***BREAKPOINT RESPONSIVE***/
$breakpoint-desktop: 1024px;

/***COLOR VALUES***/
$main-color: #FF6060;
$second-color: white;
$third-color: #F6F6F6;

/***COLORS***/

.navigation__nav a,
.collapse-container__presentation,
.body-error__404,
.body-error__text,
.body-error__link,
.title-and-location__h1,
.title-and-location__location,
.profile,
.collapse-container__presentation-logement,
.collapse-container__description,
.collapse-container__equipment {
    color: $main-color;
}

.header-banner__title,
.card__h2,
.footer__copyright,
.collapse__chevron,
.slideshow-arrow,
.img-numbers,
.logement-tag {
    color: $second-color;
}

.collapse {
    color: $third-color;
}

/***BACKGROUND-COLORS***/

.collapse {
    background-color: $main-color;
}

.card-container {
    background-color: $third-color;
    @media (max-width: $breakpoint-desktop) {
        background-color: $second-color;
    }
}

.collapse-container__presentation,
.collapse-container__presentation-logement,
.collapse-container__description,
.collapse-container__equipment {
    background-color: $third-color;
}

/***FONT-STYLES VALUES***/

$main-text-decoration: none;
$second-text-decoration: underline;

$standard-font-size:1em;
$main-font-size: 1.2em;

/***FONT-STYLES***/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
    }

a,
.navigation__nav a {
    text-decoration:$main-text-decoration;
}

.navigation__nav a:hover {
    text-decoration: $second-text-decoration;
}

/***FONT-SIZES***/

.title-and-location__location,
.profile,
.collapse-size-logement {
    @media (max-width: $breakpoint-desktop) {
        font-size: $standard-font-size;
    }
}

.img-numbers,
.title-and-location__location,
.profile {
    font-size:$main-font-size;
}



/***GENERAL***/

.navigation {  
    &__nav a {
        font-size:25px;
        @media (max-width: $breakpoint-desktop) {
            font-size:90%;
        }
    }
} 

.header-banner {
    &__img {
        filter:brightness(0.7);
    }
    &__title {
        font-weight:500;
        font-size: 55px;
        @media (max-width: $breakpoint-desktop) {
            font-size: 27px;
        }
    }
}

.card {
    &::before {
        background: linear-gradient(to bottom, transparent 60%, rgb(77, 76, 76, 0.8));
    }
    &__h2 {
        font-weight:400;
        font-size:22px;
    }
}

.slideshow-arrow {
    background-color:transparent;
    border:none;
    font-size:90px;
    @media (max-width: $breakpoint-desktop) {
        font-size: 23px;
    }
}

.arrow-left,
.arrow-right {
    cursor: pointer;
}

.title-and-location {
    &__h1 {
        font-weight:400;
        font-size:3em;
        @media (max-width: $breakpoint-desktop) {
            font-size:1.5em;
        }
    }
}

.footer {
    background-color: black;
    &__copyright {
        font-weight:400;
        font-size:27px;
        @media (max-width: $breakpoint-desktop) {
            font-size:14px;
        }
    }
}
