@media (max-width: 1024px) {
  .collapse-container__description,
  .collapse-container__equipment {
    width: 90%;
  }
}

.collapse-container__description,
.collapse-container__equipment {
  width: 92%;
}

.collapse-container-logement {
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .collapse-container-logement {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
.collapse-container-logement__presentation {
  width: 100%;
  max-width: 1230px;
  border-radius: 5px;
  height: 0;
}
@media (max-width: 1024px) {
  .collapse-container-logement__presentation {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.collapse-container-logement__text {
  padding-left: 18px;
  padding-right: 10px;
}

.collapse-logement {
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .collapse-logement {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.collapse-label-logement .collapse-container-logement__presentation {
  width: 90%;
}

.collapse-container__dimensions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.equipment {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .special-collapse-logement {
    margin-bottom: 20px;
  }
}

.collapse-size-logement {
  width: 91%;
  border-radius: 10px;
}
@media (max-width: 1024px) {
  .collapse-size-logement {
    border-radius: 5px;
  }
}

.collapse-equipment {
  margin-left: 40px;
  margin-right: 0;
}
@media (max-width: 1024px) {
  .collapse-equipment {
    margin-left: 0;
  }
}

.collapse-description {
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .collapse-description {
    margin-right: 0;
  }
}

.collapse-title-container {
  max-width: 1230px;
  height: 50px;
  padding-left: 15px;
  border-radius: 5px;
}
@media (max-width: 1024px) {
  .collapse-title-container {
    width: 95%;
    height: 30px;
  }
}
.collapse-title-container__chevron {
  right: 20px;
  top: 12px;
}
@media (max-width: 1024px) {
  .collapse-title-container__chevron {
    top: 4px;
    right: 8px;
  }
}

.collapse-container-logement-description {
  width: 42%;
}
@media (max-width: 1024px) {
  .collapse-container-logement-description {
    margin-left: 0;
    width: 100%;
  }
}

.collapse-container-logement-equipment {
  margin-right: 2.5%;
  width: 42%;
}
@media (max-width: 1024px) {
  .collapse-container-logement-equipment {
    margin-right: 0;
    width: 100%;
  }
}

.collapse-label-logement {
  width: 100%;
}
@media (max-width: 1024px) {
  .collapse-label-logement {
    width: 100%;
  }
}

.collapse-description-padding {
  margin-right: 5%;
}

.collapse-container-security {
  margin-bottom: 20px;
}

.collapse-container__description {
  right: 20px;
  top: -5px;
  border-radius: 5px;
  height: 0;
}
@media (max-width: 1024px) {
  .collapse-container__description {
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.collapse-container__equipment {
  left: 20px;
  border-radius: 5px;
  height: 0;
}
@media (max-width: 1024px) {
  .collapse-container__equipment {
    left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}/*# sourceMappingURL=collapse-logements.css.map */